In [25]:
import pandas as pd

df = pd.read_excel("IEA_Hydrogen_Production_Projects_Database.xlsx", sheet_name="Projects", header=2)

C:\Users\abdss\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2442 entries, 0 to 2441
Data columns (total 36 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Unnamed: 0                                                                      2435 non-null   object
 1   Unnamed: 1                                                                      2442 non-null   object
 2   Unnamed: 2                                                                      2435 non-null   object
 3   Unnamed: 3                                                                      1880 non-null   object
 4   Unnamed: 4                                                                      115 non-null    object
 5   Unnamed: 5                                                                      2433 non-null   object
 6   Unnamed: 6                                                                      2441 non-null   object
 7   Technology Comments                                                             1626 non-null   object
 8   Type of electricity (for electrolysis projects)                                 2145 non-null   object
 9   If dedicated renewables, type of renewable                                      1376 non-null   object
 10  Unnamed: 10                                                                     2426 non-null   object
 11  Refining                                                                        155 non-null    object
 12  Ammonia                                                                         423 non-null    object
 13  Methanol                                                                        169 non-null    object
 14  Iron&Steel                                                                      109 non-null    object
 15  Other Ind                                                                       428 non-null    object
 16  Mobility                                                                        697 non-null    object
 17  Power                                                                           258 non-null    object
 18  Grid inj.                                                                       172 non-null    object
 19  CHP                                                                             38 non-null     object
 20  Domestic heat                                                                   45 non-null     object
 21  Biofuels                                                                        19 non-null     object
 22  Synfuels                                                                        133 non-null    object
 23  CH4 grid inj.                                                                   76 non-null     object
 24  CH4 mobility                                                                    21 non-null     object
 25  Unnamed: 25                                                                     2223 non-null   object
 26  MWel                                                                            2025 non-null   object
 27  Nm³ H₂/h                                                                        2149 non-null   object
 28  kt H2/y                                                                         2161 non-null   object
 29  t CO₂ captured/y                                                                103 non-null    object
 30  Unnamed: 30                                                                     2424 non-null   object
 31  Unnamed: 31                                                                     2286 non-null   object
 32  Geographical details
Decimal Degrees
(Lat. N is positive, Long. E is positive)  2435 non-null   object
 33  Unnamed: 33                                                                     2435 non-null   object
 34  Technology_aggregate                                                            2441 non-null   object
 35  Capacity factor                                                                 2434 non-null   object
dtypes: object(36)
memory usage: 686.9+ KB

In [27]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Technology Comments,Type of electricity (for electrolysis projects),"If dedicated renewables, type of renewable",...,MWel,Nm³ H₂/h,kt H2/y,t CO₂ captured/y,Unnamed: 30,Unnamed: 31,"Geographical details\nDecimal Degrees\n(Lat. N is positive, Long. E is positive)",Unnamed: 33,Technology_aggregate,Capacity factor
0,Ref,Project name,Country,Date online,Decomission date,Status,Technology,Technology_details,Technology_electricity,Technology_electricity_details,...,Capacity_MWel,Capacity_Nm³ H₂/h,Capacity_kt H2/y,Capacity_t CO₂ captured/y,IEA zero-carbon estimated normalized capacity ...,References,Latitude,Longitude,Dummy_1,LOWE_CF
1,NaN,Other projects from confidential sources (post...,NaN,NaN,NaN,Other,NG w CCUS,NaN,NaN,NaN,...,NaN,3535952.238245,2756.769803,NaN,0,NaN,NaN,NaN,Fossil fuels with CCUS,NaN
2,NaN,Other projects from confidential sources (post...,NaN,NaN,NaN,Other,Other,Various types,NaN,NaN,...,NaN,625564.893119,487.715413,NaN,0,NaN,NaN,NaN,Other,NaN
3,NaN,Other projects from confidential sources (post...,NaN,NaN,NaN,Other,Other Electrolysis,Various types,NaN,NaN,...,17443.883124,3876418.472042,3022.210898,NaN,3876418.472042,NaN,NaN,NaN,Electrolysis,NaN
4,NaN,Other projects from confidential sources (2000...,NaN,NaN,NaN,Operational,PEM,NaN,NaN,NaN,...,6.5414,1257.961538,0.980757,NaN,1257.961538,NaN,NaN,NaN,Electrolysis,NaN

# Dropping data rows after isolating in other dfs(Other projects from confidential...)

In [28]:
df_other_projects = df.iloc[1:6]
df_non_energy_related_projects = df.iloc[6:8]

In [30]:
df_non_energy_related_projects.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Technology Comments,Type of electricity (for electrolysis projects),"If dedicated renewables, type of renewable",...,MWel,Nm³ H₂/h,kt H2/y,t CO₂ captured/y,Unnamed: 30,Unnamed: 31,"Geographical details\nDecimal Degrees\n(Lat. N is positive, Long. E is positive)",Unnamed: 33,Technology_aggregate,Capacity factor
6,NaN,Non-energy related projects (2000-2024),NaN,NaN,NaN,Operational,ALK & PEM,NaN,NaN,NaN,...,78.3938,NaN,NaN,NaN,0,NaN,NaN,NaN,Electrolysis,NaN
7,NaN,Non-energy related projects (post-2024),NaN,NaN,NaN,Other,ALK,NaN,NaN,NaN,...,46.556344,NaN,NaN,NaN,0,NaN,NaN,NaN,Electrolysis,NaN

Resetting index and settings the columns names

In [31]:
df.columns = df.iloc[0]
df.drop(index=[0,1,2,3,4,5,6,7], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

,Ref,Project name,Country,Date online,Decomission date,Status,Technology,Technology_details,Technology_electricity,Technology_electricity_details,...,Capacity_MWel,Capacity_Nm³ H₂/h,Capacity_kt H2/y,Capacity_t CO₂ captured/y,IEA zero-carbon estimated normalized capacity [Nm³ H₂/hour],References,Latitude,Longitude,Dummy_1,LOWE_CF
8,3,H2GO Energy Park Oude-Tonge - 1st phase,NLD,2025,NaN,FID/Construction,Other Electrolysis,Unknown PtX,Dedicated renewable,Others/Various,...,2.5,555.555556,0.433133,NaN,555.555556,[503][630][609],51.703313,4.162536,Electrolysis,0.5
9,4,H2GO Energy Park Oude-Tonge - 2nd phase,NLD,2030,NaN,Concept,Other Electrolysis,Unknown PtX,Dedicated renewable,Others/Various,...,23.5,5222.222222,4.071453,NaN,5222.222222,[503][630][609],51.703313,4.162536,Electrolysis,0.5
10,5,"NortH2, phase 1",NLD,2030,NaN,Feasibility study,Other Electrolysis,Unknown PtX,Dedicated renewable,Offshore wind,...,4000,888888.888889,693.013333,NaN,888888.888889,[379],53.465208,6.632985,Electrolysis,0.55
11,6,Norsk e-Fuel Phase 1,NOR,2028,NaN,FID/Construction,SOEC,NaN,Dedicated renewable,Others/Various,...,50.263583,13227.258735,10.3125,NaN,13227.258735,[414] [521][1288][1449] [1693],65.8405,13.195267,Electrolysis,0.5
12,7,Norsk e-Fuel Phase 2,NOR,2028,NaN,Feasibility study,SOEC,NaN,Dedicated renewable,Others/Various,...,50.263583,13227.258735,10.3125,NaN,13227.258735,[414] [521][1288],65.8405,13.195267,Electrolysis,0.5

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2434 entries, 0 to 2433
Data columns (total 36 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Ref                                                          2434 non-null   object
 1   Project name                                                 2434 non-null   object
 2   Country                                                      2434 non-null   object
 3   Date online                                                  1879 non-null   object
 4   Decomission date                                             114 non-null    object
 5   Status                                                       2425 non-null   object
 6   Technology                                                   2433 non-null   object
 7   Technology_details                                           1623 non-null   object
 8   Technology_electricity                                       2144 non-null   object
 9   Technology_electricity_details                               1375 non-null   object
 10  Product                                                      2425 non-null   object
 11  EndUse_Refining                                              154 non-null    object
 12  EndUse_Ammonia                                               422 non-null    object
 13  EndUse_Methanol                                              168 non-null    object
 14  EndUse_Iron&Steel                                            108 non-null    object
 15  EndUse_Other Ind                                             427 non-null    object
 16  EndUse_Mobility                                              696 non-null    object
 17  EndUse_Power                                                 257 non-null    object
 18  EndUse_Grid inj.                                             171 non-null    object
 19  EndUse_CHP                                                   37 non-null     object
 20  EndUse_Domestic heat                                         44 non-null     object
 21  EndUse_Biofuels                                              18 non-null     object
 22  EndUse_Synfuels                                              132 non-null    object
 23  EndUse_CH4 grid inj.                                         75 non-null     object
 24  EndUse_CH4 mobility                                          20 non-null     object
 25  Announced Size                                               2215 non-null   object
 26  Capacity_MWel                                                2019 non-null   object
 27  Capacity_Nm³ H₂/h                                            2143 non-null   object
 28  Capacity_kt H2/y                                             2155 non-null   object
 29  Capacity_t CO₂ captured/y                                    102 non-null    object
 30  IEA zero-carbon estimated normalized capacity [Nm³ H₂/hour]  2416 non-null   object
 31  References                                                   2285 non-null   object
 32  Latitude                                                     2434 non-null   object
 33  Longitude                                                    2434 non-null   object
 34  Dummy_1                                                      2433 non-null   object
 35  LOWE_CF                                                      2433 non-null   object
dtypes: object(36)
memory usage: 684.7+ KB

Drop the reference column

In [ ]:
df.drop(columns=["Ref"])